@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    user-select: none;
}

html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-thumb {
    background: var(--bouton-hover);
    border-radius: 3rem;
}

html::-webkit-scrollbar-track {
    background: var(--background-noir);
}
:root{
    --background : #EEEEEE;
    --background-noir : #212121;
    --bouton : #FF3838;
    --bouton-hover : #c32626;
    --text-gris: #333333;
    --text-blanc: #FFFFFF;    
}
/* DIV qui contient tous  */
.containerprincipaleMonCompte{
    width: 70%;
    height: auto;
    margin: 20px auto;
    margin-top: 9rem;
}
.monCompteMargin h2{
    padding: 10px;
    font-size: 250%;
    font-weight: regular;
}
.monCompteMargin p{
    margin-left: 85%;
    font-size: 140%;
}
.MonCompteSouligne{
    width: 350px;
    height: 0.4rem;
    background: var(--bouton);
    margin-left: 10px;
    margin-bottom: 20px;
}
.MonCompteContainer{
    display: flex;
    flex-flow: row nowrap;
    border: 2px solid black;
    width: 100%;
    padding-top: 20px;
}
