@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    user-select: none;
}

html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-thumb {
    background: var(--bouton-hover);
    border-radius: 3rem;
}

html::-webkit-scrollbar-track {
    background: var(--background-noir);
}
:root{
    --background : #EEEEEE;
    --background-noir : #212121;
    --bouton : #FF3838;
    --bouton-hover : #c32626;
    --text-gris: #333333;
    --text-blanc: #FFFFFF;    
}


.minijeu{
    background: var(--background-noir);
    color: var(--text-blanc);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 200px auto;
    width: 60%;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--bouton);
    text-align: center;
    padding: 10px;
}
.minijeu *{
    margin: 10px;
}
.minijeu button{
    padding: 2px;
    cursor: pointer;
    background: var(--bouton);
    color: var(--text-blanc);
}
.minijeu button:hover{
    background: var(--bouton-hover);
}
