@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    user-select: none;
}

html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-thumb {
    background: var(--bouton-hover);
    border-radius: 3rem;
}

html::-webkit-scrollbar-track {
    background: var(--background-noir);
}
:root{
    --background : #EEEEEE;
    --background-noir : #212121;
    --bouton : #FF3838;
    --bouton-hover : #c32626;
    --text-gris: #333333;
    --text-blanc: #FFFFFF;    
}


/* Modal Styles */
.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content-deco {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 30%;
    max-width: 50%;
    text-align: center;
  }
  
  .modal-header {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .modal-content {
    margin-bottom: 20px;
  }
  
  .modal-buttons-deco {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  
  .modal-btn-deco {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: var(--text-gris);
    font-weight: bold;
    font-size: 1.3rem;
    transition: background 0.3s ease;
    background-color: var(--bouton);
  }

  .modal-btn-deco:hover {
    background-color: var(--bouton-hover);
  }
  
  
  /* Animation for the modal */
  @keyframes modal-appear {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .modal-appear {
    animation: modal-appear 0.3s ease-in-out;
  }