@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    user-select: none;
}

html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-thumb {
    background: var(--bouton-hover);
    border-radius: 3rem;
}

html::-webkit-scrollbar-track {
    background: var(--background-noir);
}

:root {
    --background: #EEEEEE;
    --background-noir: #212121;
    --bouton: #FF3838;
    --bouton-hover: #c32626;
    --text-gris: #333333;
    --text-blanc: #FFFFFF;
}

#escape-background {
    background: var(--background);
}

.PA-separation {
    height: 10rem;
    width: 100%;
    background-color: var(--background-noir);
}

/* Titre Escape Game */
.escape-game {
    display: flex;
    width: 100%;
    background: var(--background);
    justify-content: center;
    height: 80px;
}

.escape-game .escape-infos {
    position: relative;
    top: 3rem;
    color: var(--text-gris);
    font-weight: 800;
    font-size: 2.2rem;
    line-height: normal;
}

.escape-game .escape-barre {
    position: relative;
    margin: 0 auto;
    top: 3rem;
    width: 90%;
    height: 0.8rem;
    background: var(--bouton);
}

/* Partie des cartes et du text */
.escape-card {
    margin: 0 auto;
    width: 80%;
    height: 50rem;
    background: var(--background);
}

.escape-card .escape-text {
    position: relative;
    top: 4rem;
    margin: 0 auto;
    width: 50%;
    color: var(--text-gris);
    text-align: center;
    font-family: Poppins;
    line-height: normal;
}

/* Partie Tarif */

.escape-tarif {
    display: flex;
    margin: 0 auto;
    width: 100%;
    background: var(--background-noir);
    justify-content: center;
    height: 80px;
}

.escape-tarif .tarif-infos {
    position: relative;
    top: 3rem;
    color: var(--text-blanc);
    font-weight: 800;
    font-size: 2.2rem;
    line-height: normal;
}

.escape-tarif .tarif-barre {
    position: relative;
    margin: 0 auto;
    top: 3rem;
    width: 90%;
    height: 0.8rem;
    background: var(--bouton);
}

/* Partie du text Tarif */
.tarif-card {
    margin: 0 auto;
    width: 100%;
    height: auto;
    background: var(--background-noir);
    padding: 20px 100px;
}

.tarif-card .tarif-text {
    margin: 0 auto;
    width: 40%;
    margin-top: 3rem;
    color: var(--text-blanc);
    text-align: center;
    font-family: Poppins;
    line-height: normal;
}

/* Icon + prix Tarif */

.espace-card {
    margin-top: 5rem;
}

.taris-icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.taris-icon img {
    width: 12rem;
}

.taris-icon .nbpers-tarif {
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    color: var(--text-blanc);
}

.taris-icon .prixpers-tarif {
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    color: var(--bouton);
}


/* Activité pour tous  */

.escape-tous {
    display: flex;
    margin: 0 auto;
    width: 100%;
    background: var(--background);
    justify-content: center;
    height: 80px;
    margin-top: 2rem;
}

.escape-tous .tous-infos {
    position: relative;
    top: 3rem;
    color: var(--text-gris);
    font-weight: 800;
    font-size: 2.2rem;
    text-align: center;
    line-height: normal;
}

.escape-tous .tous-barre {
    position: relative;
    margin: 0 auto;
    top: 3rem;
    width: 90%;
    height: 0.8rem;
    background: var(--bouton);
}

.tous-card {
    margin: 0 auto;
    width: 100%;
    height: auto;
    background: var(--background);
    padding: 20px 100px;
}

.tous-card .tous-text {
    margin: 0 auto;
    width: 40%;
    margin-top: 3rem;
    color: var(--text-gris);
    text-align: center;
    font-family: Poppins;
    line-height: normal;
}


.espace-card {
    margin-top: 5rem;
}

.tous-icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: -5rem;
}

.tous-icon img {
    width: 12rem;

}

.tous-icon {
    text-align: center;
}

.tous-icon .nbpers-tous {
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: var(--bouton);
}

.tous-icon .prixpers-tous {
    font-size: 1.1rem;
    max-width: 20rem;
    font-weight: 700;
    text-align: center;
    color: var(--text-gris);
}


/* Lieu ouvert à tous */

.escape-ouvert {
    display: flex;
    margin: 0 auto;
    width: 100%;
    background: var(--background);
    justify-content: center;
    height: 80px;
    margin-top: 2rem;
}

.escape-ouvert .ouvert-infos {
    position: relative;
    top: 3rem;
    color: var(--text-gris);
    font-weight: 800;
    font-size: 2.2rem;
    text-align: center;
    line-height: normal;
}

.escape-ouvert .ouvert-barre {
    position: relative;
    margin: 0 auto;
    top: 3rem;
    width: 90%;
    height: 0.8rem;
    background: var(--bouton);
}

.ouvert-card {
    margin: 0 auto;
    width: 100%;
    height: auto;
    background: var(--background);
    padding: 20px 100px;
}

.ouvert-card .ouvert-text {
    margin: 0 auto;
    width: 40%;
    margin-top: 3rem;
    color: var(--text-gris);
    text-align: center;
    font-family: Poppins;
    line-height: normal;
}


.ouvert-icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: -5rem;
}

.ouvert-icon img {
    width: 12rem;

}

.ouvert-icon {
    text-align: center;
    margin-bottom: 8rem;
}