@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    user-select: none;
}

html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-thumb {
    background: var(--bouton-hover);
    border-radius: 3rem;
}

html::-webkit-scrollbar-track {
    background: var(--background-noir);
}
:root{
    --background : #EEEEEE;
    --background-noir : #212121;
    --bouton : #FF3838;
    --bouton-hover : #c32626;
    --text-gris: #333333;
    --text-blanc: #FFFFFF;    
}
.reservationSiteMargin h2 {
    font-size: 38px;
    text-align: center;
    font-weight: bold;
}

.reservationSiteSouligne{
    width: 18%;
    height: 0.4rem;
    background: var(--bouton);
    margin: 5px auto;
}
.reservationSiteMargin{
    margin-top: 140px !important;
}
.reservationSiteContainer{
   width: 60%;
   border: 2px solid black;
   margin: 50px auto;
   padding-bottom: 50px;
   padding-top: 20px;
}
.reservationSiteFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.reservationSiteFlex *{
    font-size: 20px;
    border-radius: 8px;
}
.reservationSiteFlex input[type='text'],.reservationSiteFlex input[type='number'],.reservationSiteFlex input[type='date'],.reservationSiteFlex input[type='email'] , .reservationSiteFlex select {
    background-color: #c9c8c8;
    margin: 13px;
    width: 60%;
    height: 10%;
    padding: 10px;
}
.reservationSiteFlex .agendaSite{
    width: 62.5%;
    height: 10%;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.reservationSiteFlex input[type='submit']{
    background: var(--bouton);
    color: var(--text-blanc);
    width: 128px;
    height: 37px;
    position: absolute;
    bottom: -12%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px ;
}

.reservationSiteFlex input[type='submit']:hover{
    background: var(--bouton-hover);
}
.nomPrenomReservationSite{
    width: 63%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.nomPrenomReservationSite input{
    margin-bottom: 0;
    margin-top: 0;
}
@media screen and (min-width: 1900px) {
    .nomPrenomReservationSite{
        width: 62.5%;
    }
}
@media screen and (min-width: 2000px) {
    .nomPrenomReservationSite{
        width: 62%;
    }
}
@media screen and (min-width: 3000px) {
    .nomPrenomReservationSite{
        width: 61.5%;
    }
}
@media screen and (max-width: 1100px) {
    .reservationSiteMargin{
        margin-top: 120px !important;
    }
    .reservationSiteMargin h2{
        font-size: 24px;
    }
    .reservationSiteFlex *{
        font-size: 14px;
    }
    .reservationSiteFlex input[type='submit']{
        font-size: 12px;
        position: absolute;
        bottom: -15%;
        padding-bottom: 1px;
    }
}

@media screen and (max-width: 600px) {
    .reservationSiteMargin h2{
        font-size: 18px !important;
    }
    .reservationSiteFlex input[type='text'], input[type='number'], input[type='date'], input[type='email'] , #difficulty, #escapeGame, .devisProMargin {
        background-color: #c9c8c8;
        margin: 10px;
        width: 60%;
        height: 10%;
        padding: 10px;
        font-size: 12px;
    }
    .reservationSiteFlex input[type='submit']{
        font-size: 10px;
        position: absolute;
        bottom: -16%;
        padding-bottom: 1px;
        width: 100px;
        height: 30px;
    }
}


